<div class="registration-container">
  <mat-card class="registration-card">
    <mat-card-header>
      <mat-card-title class="registration-title">Join QuizWhiz</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="registration-form">
        <mat-form-field appearance="outline" class="form-field full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter your username" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter your first name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Enter your last name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput type="number" placeholder="Enter your phone number" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" required>
        </mat-form-field>

        <div>
          <button mat-raised-button type="submit" color="primary" class="registration-button">Register</button>
          <button mat-raised-button color="warn" class="registration-button">Clear</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
